{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol" class="form-control">
                <option selected>- Symbol -</option>
                {% for stock in user_stocks2 %}
                    <option>{{ stock["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="number" name="shares" placeholder="Shares" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}
